//Maps
$color: (
    azul-base: #4B4B6F,
    azul-oscuro: #56658A,
    azul-gris: #B1BFDF,
    celeste: #C4DDFF,
    amarillo: #F4FAEB,
    blanco: #FFFFFF,
    azul-hover: #22459d,
    azul-active: #6f8fb7
);
$font-size-p: (
    xs: 10px,
    s: 12px,
    m: 14px,
    l:16px,
    xl: 20px
);
$font-size-h1: (
    s: 36px,
    m:46px,
    l:64px,
);
$font-size-h2: (
    s: 24px,
    m:36px,
    l:46px,
);
$font-size-h3: (
    s: 20px,
    m:24px,
    l:36px,
);
$font-size-h4: (
    s:18px,
    m:20px,
    l:24px,
);
//mixins
@mixin flex ($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin medidas ($width,$height) {
    width: $width;
    height: $height;
}
@mixin card ($width, $bgcolor, $padding) {
    width: $width;
    background-color: $bgcolor;
    padding: $padding;
}

//generales
nav {
    background-color: map-get($color,celeste );
    li {
        .nav-link {
            color: map-get($color, azul-base );
            &:hover {
                color: map-get($color, azul-hover);
                scale: 1.1;
            }
        }
        .active{
            color: map-get($color , azul-active);
        }
    }      
}
body {
    background-color: map-get($color, azul-base);
    color: map-get($color, blanco);
}
h1 {
    font-size: map-get($font-size-h1, l );
}
h2 {
    font-size: map-get($font-size-h2, l );
}
h3 {
    font-size: map-get($font-size-h3, l );
}
h4 {
    font-size: map-get($font-size-h4, l );
}
p {
    font-size: map-get($font-size-p, xl );
}
footer {
    background-color: map-get($color, celeste );
    section {
        @include flex(row, space-between, center );
        padding: 20px;
        .footer-contacto {
            @include flex(row, flex-start, center);
        }
    }
    p {
        font-size: map-get($font-size-p, l );
        color: map-get($color, azul-base );
    }
}
//index
.mi-nombre {
    background-color: map-get($color, azul-oscuro);
    padding: 5% 20px 2.5%;
}
.sobre-mi {
    padding: 40px 20px;
    @include flex(row, space-between , center );
    .texto {
        @include medidas(60%, auto );
    }
}
.habilidades-inc {
    @include flex(column, space-between, center);
    h3 {
        @include medidas(100%, auto);
        @include flex(column, center, center);
        padding: 10px;
        background-color: map-get($color, amarillo);
        color: map-get($color, azul-base);
    }
    .drop-habilidades {
        @include flex(row, space-evenly, center);
        margin: 20px;
        .card-body {
            @include flex(column, center, center);
        }
    }
}

